<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Admin Panel</title>
  </head>
  <body>
    <header>
        <div class="container-fluid header_full">
            
        </div>
    </header>
    <section>
        <div class="container-fluid content_part_full">
            <div class="row">
                <div class="col-md-2 sidebar_part">
                  <div class="user_part">
                    <img src="images/avatar.png" alt="avatar">
                    <h4>Khayrul Islam Shanto</h4>
                    <p><i class="fa fa-circle"></i> Online</p>
                  </div>
                  <div class="menu">
                      <ul>
                        <li><a href="#"><i class="fa fa-home"></i> Dashboard</a></li>
                        <li><a href="#"><i class="fa fa-user-circle"></i> User</a></li>
                        <li><a href="#"><i class="fa fa-bandcamp"></i> Banner</a></li>
                        <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                      </ul>
                  </div>
                </div>
                <div class="col-md-10 content_part">
                    <div class="row custom_bread_part">
                        <div class="col-md-12 bread">
                             <ul>
                               <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                               <li><a href="#"><i class="fa fa-angle-double-right"></i> Dashboard</a></li>
                             </ul> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 main_content">
                            <form>
                              <div class="card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-8">
                                              <h4 class="card_header_title"><i class="fa fa-gg-circle"></i> Form Design</h4>
                                        </div>
                                        <div class="col-md-4 text-right">
                                            <a class="btn btn-sm btn-dark card_top_btn" href="#"><i class="fa fa-th"></i> Table</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="card-body">
                                     <div class="form-group row custom_form_group">
                                        <label class="col-sm-3 col-form-label">Name:</label>
                                        <div class="col-sm-7">
                                          <input type="text" class="form-control" id="" name="">
                                        </div>
                                      </div> 
                                      <div class="form-group row custom_form_group">
                                        <label class="col-sm-3 col-form-label">Email:</label>
                                        <div class="col-sm-7">
                                          <input type="email" class="form-control" id="" name="">
                                        </div>
                                      </div> 
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-sm btn-dark submit_btn">REGISTRATION</button>
                                </div>
                              </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container-fluid footer_full">
            
        </div>
    </footer>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
